body {
  font-family: var(--font-source-sans); /* Default font */
  background-color: #ffffff;
  color: #333333;
}

/* We can add rules for specific tags later */
h1, h2, h3 {
  font-family: var(--font-lora); /* Heading font */
}

body {
  background-color: #ffffff;
  color: #333333;
}

main {
  max-width: 960px;
  margin: 0 auto; /* This centers the container */
  padding: 20px;
}