:root {
  --sidebar-width: clamp(200px, 25vw, 300px);
  --color-one: #2c3e50;
  --color-two: #E7DEE6;
  --color-three: #B4BCCE;
  --color-font-dark: var(--color-one);
  --color-font-muted:  #aeb9c4;
  --color-font-light: #eeeeee;
}

body {
  font-family: var(--font-source-sans);
  color: var(--color-font-light); 
  background-image: url('https://cdn.pixabay.com/photo/2016/11/29/11/52/computer-1869306_1280.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin:0;
}

h1, h2, h3 {
  font-family: var(--font-lora);
}

main {
  margin-left: var(--sidebar-width);
  flex-grow: 1;
}